<div class="input-group mb-2">
    <div class="input-group-prepend">
        <div class="input-group-text">100%</div>
    </div>
    <input class="form-control single-line valid percentage" data-val="true" data-val-number="Debe ser un valor numérico." data-val-range="No se permiten valores demasiado grandes" data-val-range-max="922337203685478" data-val-range-min="-922337203685478" data-val-required="El campo es obligatorio." id="monto" name="monto" type="text" value="1.00" aria-describedby="monto-error" aria-invalid="false">
</div>